.header {
    min-width: 310px;
    float: left;
    height: auto;
    margin-right: 4%;
    margin-left: 0%;
}

.headerOptions {
    display: flex;
    align-items: center; 
}

.checkbox {
    line-height: 0.2;
}

div.title#monthViewHeader {
    margin-block-end: 0em;
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.monthName {
    width: 160px;
    display: inline-block;
    text-align: center;
}
