@import "../../../variables";

.month-name {
    width: 100px;
    text-align: center;
    font-size: 1.2em;
    margin: 0px 3px;
}

.year-name {
    text-align: center;
    font-size: 1.2em;
    margin:0px 3px;
}