$orange-main-color: #FF9900;
$purple-main-color: #AA00FF;
$green-main-color: #00B300;

// for accents
$green-highlight:  #00FF00;
$purple-highlight: #7700B3;

// back-up colors if needing a large color range
$red-secondary: #FF0000;
$light-blue-secondary: #0092FF;
$pink-secondary: #E300FF;
$dark-blue-secondary: #1020B3;

$padding-header-horizontal: 10px;
$padding-header-vertical: 15px;
$header-height: 55px;

$padding-container-horizontal: 10px;
$padding-container-vertical: 10px;

$padding-button-horizontal: 10px;
$padding-button-vertical: 3px;

$default-radius: 4px;

$grey-border-color: #DBDBDB;
$default-grey: #F5F5F5;
$default-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

$tag-font-size: 0.75em;
$tag-height: $tag-font-size * 2;

$button-font-size: 0.8em;
$button-height: 2.5em;

$corner-font-size: 0.75em;

$colors: (
    "orange-main-color": $orange-main-color,
    "purple-main-color": $purple-main-color,
    "green-main-color": $green-main-color,
    "red-secondary": $red-secondary,
    "light-blue-secondary": $light-blue-secondary,
    "pink-secondary": $pink-secondary,
    "dark-blue-secondary": $dark-blue-secondary,
    "green-highlight": $green-highlight,
    "purple-highlight": $purple-highlight
);

$highlight-colors: (
    "--green-highlight": $green-highlight,
    "--purple-highlight": $purple-highlight
);